<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingshuiqi.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.jingshuiqi.bean.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_uuid" property="goodsUuid" jdbcType="VARCHAR" />
    <result column="order_uuid" property="orderUuid" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="reply" property="reply" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="CommentResultMap" type="com.jingshuiqi.vo.CommentInfoVo" extends="BaseResultMap">
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="UserResultMap" type="com.jingshuiqi.vo.UserCommentInfoVo" extends="CommentResultMap">
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_uuid, order_uuid, open_id, level, content, reply, create_time, is_delete
  </sql>

  <select id="findGoodsCommentInfo" resultMap="CommentResultMap" >
    select
    c.*, u.nick_name nickName, u.icon
    from comment as c
    left join user_base as u on u.open_id = c.open_id
    where c.is_delete = 0 and c.goods_uuid = #{pageObject.uuid}
    <if test="pageObject.id != null and pageObject.id != ''">
      and c.level = #{pageObject.id}
    </if>
    order by level ,id desc
    limit #{pageObject.startIndex},#{pageObject.pageSize}
  </select>

  <select id="getGoodsCommentInfoRow" resultType="java.lang.Integer" >
    select
    count(1)
    from comment
    where is_delete = 0 and goods_uuid = #{pageObject.uuid}
    <if test="pageObject.id != null and pageObject.id != ''">
      and level = #{pageObject.id}
    </if>
  </select>

  <select id="findUserCommentInfo" resultMap="UserResultMap" >
    select
    c.*, u.nick_name nickName, u.icon, p.price, p.thumb, p.product_name productName
    from comment as c
    left join user_base as u on u.open_id = c.open_id
    left join goods_order_detail as d on d.uuid = order_uuid
    where c.is_delete = 0 and c.open_id = #{pageObject.openId}
    order by id desc
    limit #{pageObject.startIndex},#{pageObject.pageSize}
  </select>

  <select id="getUserCommentInfoRow" resultType="java.lang.Integer" >
    select
    count(1)
    from comment
    where is_delete = 0 and open_id = #{pageObject.openId}
  </select>





  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingshuiqi.bean.Comment" >
    insert into comment (id, goods_uuid, order_uuid, 
      open_id, level, content, 
      reply, create_time, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{goodsUuid,jdbcType=VARCHAR}, #{orderUuid,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{reply,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jingshuiqi.bean.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsUuid != null" >
        goods_uuid,
      </if>
      <if test="orderUuid != null" >
        order_uuid,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="reply != null" >
        reply,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsUuid != null" >
        #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="orderUuid != null" >
        #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="reply != null" >
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jingshuiqi.bean.Comment" >
    update comment
    <set >
      <if test="goodsUuid != null" >
        goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      </if>
      <if test="orderUuid != null" >
        order_uuid = #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="reply != null" >
        reply = #{reply,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jingshuiqi.bean.Comment" >
    update comment
    set goods_uuid = #{goodsUuid,jdbcType=VARCHAR},
      order_uuid = #{orderUuid,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      reply = #{reply,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>