<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingshuiqi.dao.GoodsOrderMapper" >
  <resultMap id="BaseResultMap" type="com.jingshuiqi.bean.GoodsOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="order_price" property="orderPrice" jdbcType="DOUBLE" />
    <result column="actual_price" property="actualPrice" jdbcType="DOUBLE" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="CHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="freight" property="freight" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="is_comment" property="isComment" jdbcType="INTEGER" />
    <result column="pay_uuid" property="payUuid" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="trade_successful_time" property="tradeSuccessfulTime" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="reserve" property="reserve" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, open_id, order_price, actual_price, receiver_name, receiver_phone, receiver_address, 
    address_id, buyer_message, freight, order_status, is_comment, pay_uuid, pay_time, 
    delivery_time, trade_successful_time, pay_type, create_time, is_delete, reserve
  </sql>

  <select id="findOrdersByUuid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from goods_order
    where uuid = #{uuid} and is_delete = 0
  </select>

  <select id="findUserOrdersInfo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from goods_order
    where is_delete = 0 and open_id = #{pageObject.openId}
    <if test="pageObject.id == '0'.toString()">
      and order_status = 0
    </if>
    <if test="pageObject.id != null and pageObject.id != ''">
      and order_status = #{pageObject.id}
    </if>
    <if test="pageObject.id == 2">
      and order_status = 6
    </if>
  </select>

  <select id="getUserOrdersRow" resultType="java.lang.Integer" >
    select
    count(1)
    from goods_order
    where is_delete = 0 and open_id = #{pageObject.openId}
    <if test="pageObject.id == '0'.toString()">
      and order_status = 0
    </if>
    <if test="pageObject.id != null and pageObject.id != ''">
      and order_status = #{pageObject.id}
    </if>
    <if test="pageObject.id == 2">
      and order_status = 6
    </if>
  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingshuiqi.bean.GoodsOrder" >
    insert into goods_order (id, uuid, open_id, 
      order_price, actual_price, receiver_name, 
      receiver_phone, receiver_address, address_id, 
      buyer_message, freight, order_status, 
      is_comment, pay_uuid, pay_time, 
      delivery_time, trade_successful_time, 
      pay_type, create_time, is_delete, 
      reserve)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{orderPrice,jdbcType=DOUBLE}, #{actualPrice,jdbcType=DOUBLE}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=CHAR}, #{receiverAddress,jdbcType=VARCHAR}, #{addressId,jdbcType=INTEGER}, 
      #{buyerMessage,jdbcType=VARCHAR}, #{freight,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, 
      #{isComment,jdbcType=INTEGER}, #{payUuid,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{deliveryTime,jdbcType=TIMESTAMP}, #{tradeSuccessfulTime,jdbcType=TIMESTAMP}, 
      #{payType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, 
      #{reserve,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jingshuiqi.bean.GoodsOrder" >
    insert into goods_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverPhone != null" >
        receiver_phone,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="buyerMessage != null" >
        buyer_message,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="isComment != null" >
        is_comment,
      </if>
      <if test="payUuid != null" >
        pay_uuid,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="tradeSuccessfulTime != null" >
        trade_successful_time,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="reserve != null" >
        reserve,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DOUBLE},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=DOUBLE},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        #{receiverPhone,jdbcType=CHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="buyerMessage != null" >
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="isComment != null" >
        #{isComment,jdbcType=INTEGER},
      </if>
      <if test="payUuid != null" >
        #{payUuid,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeSuccessfulTime != null" >
        #{tradeSuccessfulTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="reserve != null" >
        #{reserve,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jingshuiqi.bean.GoodsOrder" >
    update goods_order
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=DOUBLE},
      </if>
      <if test="actualPrice != null" >
        actual_price = #{actualPrice,jdbcType=DOUBLE},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        receiver_phone = #{receiverPhone,jdbcType=CHAR},
      </if>
      <if test="receiverAddress != null" >
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="buyerMessage != null" >
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="isComment != null" >
        is_comment = #{isComment,jdbcType=INTEGER},
      </if>
      <if test="payUuid != null" >
        pay_uuid = #{payUuid,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeSuccessfulTime != null" >
        trade_successful_time = #{tradeSuccessfulTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="reserve != null" >
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jingshuiqi.bean.GoodsOrder" >
    update goods_order
    set uuid = #{uuid,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      order_price = #{orderPrice,jdbcType=DOUBLE},
      actual_price = #{actualPrice,jdbcType=DOUBLE},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=CHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=INTEGER},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      freight = #{freight,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      is_comment = #{isComment,jdbcType=INTEGER},
      pay_uuid = #{payUuid,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      trade_successful_time = #{tradeSuccessfulTime,jdbcType=TIMESTAMP},
      pay_type = #{payType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      reserve = #{reserve,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="ViewResultMap" type="com.jingshuiqi.dto.GoodsOrderBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="order_price" property="orderPrice" jdbcType="DOUBLE" />
    <result column="actual_price" property="actualPrice" jdbcType="DOUBLE" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="CHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="freight" property="freight" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="is_comment" property="isComment" jdbcType="INTEGER" />
    <result column="pay_uuid" property="payUuid" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="trade_successful_time" property="tradeSuccessfulTime" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="view_Column_List" >
    goods_order.id , goods_order.open_id,goods_order.order_price, goods_order.actual_price,
    goods_order.receiver_name, goods_order.receiver_phone, goods_order.receiver_address,
    goods_order.buyer_message, goods_order.freight, goods_order.order_status, goods_order.is_comment,
    goods_order.pay_uuid, goods_order.pay_time, goods_order.delivery_time,
    goods_order.trade_successful_time, goods_order.pay_type, goods_order.create_time, goods_order.is_delete
  </sql>

  <select id="selectMemberOrders" resultMap="ViewResultMap">
    SELECT
        DISTINCT goods_order.*,user_base.nick_name,user_base.icon
    FROM
        goods_order
    LEFT JOIN user_base ON goods_order.open_id = user_base.open_id
    LEFT JOIN `share` on user_base.open_id = `share`.open_id
    WHERE
        goods_order.is_delete = 0
    and `share`.is_delete = 0
    and `share`.parent_open_id = #{openId}
    <if test="page.date != null and page.date != ''">
      and date_format(goods_order.create_time,'%Y-%m') = #{page.date}
    </if>
    <if test="page.type == 0 or page.type == 1 or page.type == 2">
      and goods_order.order_status = #{page.type}
    </if>
    order by goods_order.create_time desc
    limit #{page.startIndex},#{page.pageSize}
  </select>

  <select id="countMemberOrders" resultType="java.lang.Integer">
    select  count(1)
    from (
      SELECT
         DISTINCT goods_order.uuid
      FROM
      goods_order
      LEFT JOIN user_base ON goods_order.open_id = user_base.open_id
      LEFT JOIN `share` on user_base.open_id = `share`.open_id
      WHERE
      goods_order.is_delete = 0
      and `share`.is_delete = 0
      and `share`.parent_open_id = #{openId}
      <if test="page.date != null and page.date != ''">
        and date_format(goods_order.create_time,'%Y-%m') = #{page.date}
      </if>
      <if test="page.type == 0 or page.type == 1 or page.type == 2">
        and goods_order.order_status = #{page.type}
      </if>
    ) p
  </select>

  <select id="selectMemberRefundOrders" resultMap="ViewResultMap">
    SELECT
      goods_order.*,goods_order_detail.uuid as detailUuid,user_base.nick_name,user_base.icon
    FROM
    goods_order
    LEFT JOIN goods_order_detail ON goods_order.uuid = goods_order_detail.order_uuid
    LEFT JOIN user_base ON goods_order.open_id = user_base.open_id
    LEFT JOIN `share` on user_base.open_id = `share`.open_id
    WHERE
    goods_order.is_delete = 0
    and `share`.is_delete = 0
    and `share`.parent_open_id = #{openId}
    and goods_order_detail.is_refund = 1
    <if test="page.date != null and page.date != ''">
      and date_format(goods_order.create_time,'%Y-%m') = #{page.date}
    </if>
    order by goods_order.create_time desc
    limit #{page.startIndex},#{page.pageSize}
  </select>

  <select id="countMemberRefundOrders" resultType="java.lang.Integer">
    SELECT
      count(1)
    FROM
      goods_order
    LEFT JOIN goods_order_detail ON goods_order.uuid = goods_order_detail.order_uuid
    LEFT JOIN user_base ON goods_order.open_id = user_base.open_id
    LEFT JOIN `share` on user_base.open_id = `share`.open_id
    WHERE
    goods_order.is_delete = 0
    and `share`.is_delete = 0
    and `share`.parent_open_id = #{openId}
    and goods_order_detail.is_refund = 1
    <if test="page.date != null and page.date != ''">
      and date_format(goods_order.create_time,'%Y-%m') = #{page.date}
    </if>
  </select>
</mapper>