<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingshuiqi.dao.UserBaseMapper" >
  <resultMap id="BaseResultMap" type="com.jingshuiqi.bean.UserBase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="is_enable" property="isEnable" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP" />
    <result column="consume_money" property="consumeMoney" jdbcType="DOUBLE" />
    <result column="shop_coins" property="shopCoins" jdbcType="INTEGER" />
    <result column="reserve" property="reserve" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="is_code" property="isCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, nick_name, sex, icon, name, phone, birth_date, is_enable, create_time, last_login,
    consume_money, shop_coins, reserve, user_type, is_delete, is_code
  </sql>

  <select id="findUserInfo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user_base
    where open_id = #{openid} and is_delete = 0
  </select>

  <insert id="saveUserInfo" parameterType="com.jingshuiqi.bean.UserBase" >
    insert into user_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastLogin != null" >
        last_login,
      </if>
      <if test="consumeMoney != null" >
        consume_money,
      </if>
      <if test="shopCoins != null" >
        shop_coins,
      </if>
      <if test="reserve != null" >
        reserve,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isCode != null" >
        is_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeMoney != null" >
        #{consumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="shopCoins != null" >
        #{shopCoins,jdbcType=INTEGER},
      </if>
      <if test="reserve != null" >
        #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isCode != null" >
        #{isCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateUserInfo" parameterType="com.jingshuiqi.bean.UserBase" >
    update user_base
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeMoney != null" >
        consume_money = #{consumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="shopCoins != null" >
        shop_coins = #{shopCoins,jdbcType=INTEGER},
      </if>
      <if test="reserve != null" >
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isCode != null" >
        is_code = #{isCode,jdbcType=VARCHAR},
      </if>
    </set>
    where open_id = #{openId}
  </update>

  <select id="findIndexOrderFor" resultMap="BaseResultMap" >
    select
    u.nick_name, u.icon
    from user_base as u
    left join goods_order as g on g.open_id = u.open_id
    where g.create_time >=DATE_SUB(NOW(),INTERVAL 1 MINUTE)
    order by g.create_time desc
    limit 3
  </select>


  <update id="updateAddCoins" parameterType="com.jingshuiqi.bean.UserBase" >
    update user_base
    set
      shop_coins = shop_coins + #{allCoins}
    where open_id = #{openId}
  </update>

  <update id="updateUserData" parameterType="com.jingshuiqi.bean.UserBase" >
    update user_base
    set
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR}
    where open_id = #{openId,jdbcType=VARCHAR}
  </update>











  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_base
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_base
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingshuiqi.bean.UserBase" >
    insert into user_base (id, open_id, nick_name, 
      sex, icon, name, phone,
      birth_date, is_enable, create_time,
      last_login, consume_money, shop_coins,
      reserve, user_type, is_delete,
      is_code)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
      #{sex,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR},
      #{birthDate,jdbcType=TIMESTAMP}, #{isEnable,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{lastLogin,jdbcType=TIMESTAMP}, #{consumeMoney,jdbcType=DOUBLE}, #{shopCoins,jdbcType=INTEGER},
      #{reserve,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER},
      #{isCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jingshuiqi.bean.UserBase" >
    insert into user_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastLogin != null" >
        last_login,
      </if>
      <if test="consumeMoney != null" >
        consume_money,
      </if>
      <if test="shopCoins != null" >
        shop_coins,
      </if>
      <if test="reserve != null" >
        reserve,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isCode != null" >
        is_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeMoney != null" >
        #{consumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="shopCoins != null" >
        #{shopCoins,jdbcType=INTEGER},
      </if>
      <if test="reserve != null" >
        #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isCode != null" >
        #{isCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jingshuiqi.bean.UserBase" >
    update user_base
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogin != null" >
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeMoney != null" >
        consume_money = #{consumeMoney,jdbcType=DOUBLE},
      </if>
      <if test="shopCoins != null" >
        shop_coins = #{shopCoins,jdbcType=INTEGER},
      </if>
      <if test="reserve != null" >
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isCode != null" >
        is_code = #{isCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jingshuiqi.bean.UserBase" >
    update user_base
    set open_id = #{openId,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      is_enable = #{isEnable,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      consume_money = #{consumeMoney,jdbcType=DOUBLE},
      shop_coins = #{shopCoins,jdbcType=INTEGER},
      reserve = #{reserve,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      is_code = #{isCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <resultMap id="ViewResultMap" type="com.jingshuiqi.dto.UserAgent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="parent_open_id" property="parentOpenId" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="agent_type" property="agentType" jdbcType="INTEGER" />
  </resultMap>

  <!--查询所有用户-->
  <select id="selectUserAgent" resultMap="ViewResultMap" >
    SELECT
      user_base.open_id,
      user_base.user_type,
      `share`.parent_open_id,
      agent.agent_type
    FROM
        user_base
    LEFT JOIN `share` ON `share`.open_id = user_base.open_id
    LEFT JOIN agent ON agent.open_id = user_base.open_id
    WHERE
        user_base.is_delete = 0
    ORDER BY `share`.is_delete,agent.is_delete
   </select>

  <select id="countMembers" resultType="java.lang.Integer">
    SELECT
        count(1)
    FROM
        user_base
    LEFT JOIN `share` ON `share`.open_id = user_base.open_id
    WHERE
        `share`.is_delete = 0
    AND user_base.is_delete = 0
    AND `share`.parent_open_id = #{openId}
  </select>

  <select id="selectMembers" resultMap="BaseResultMap">
    SELECT
        user_base.id,
        user_base.open_id,
        user_base.nick_name,
        user_base.icon,
        user_base.`name`,
        user_base.phone,
        user_base.birth_date,
        user_base.is_enable,
        user_base.create_time,
        user_base.last_login,
        user_base.consume_money,
        user_base.shop_coins,
        user_base.reserve,
        user_base.is_delete,
        IFNULL(IF(user_type = 0,user_type,(SELECT agent_type FROM agent WHERE agent.open_id = user_base.open_id and agent.is_delete = 0 limit 1)),0)AS user_type
    FROM
        user_base
    LEFT JOIN `share` ON `share`.open_id = user_base.open_id
    WHERE
        `share`.is_delete = 0
    AND user_base.is_delete = 0
    AND `share`.parent_open_id = #{openId}
  </select>
</mapper>